.header {
  background: var(--ds-color-background-default);
  border-block: solid 1px var(--ds-color-border-subtle);
  padding: var(--ds-size--sm) 0;
  margin-block-end: var(--ds-size-8);
}

.inner {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 1200px;
  margin-inline: auto;
  padding: 0.5rem 1.5rem;
  box-sizing: border-box;
}

.header button[popovertarget] {
  border: solid 1px var(--ds-color-border-subtle);
  border-radius: var(--ds-border-radius-default);
  background: var(--ds-color-accent-surface-default);
}

.title {
  margin: 0;
  font-size: 1.25rem;
}

.end {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.adress {
  font-size: 0.85rem;
  color: var(--ds-color-accent-text-subtle);
}

.hideOnMobile {
  display: contents;
}

.showOnMobile {
  display: none;
}

@media (max-width: 640px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .inner {
    justify-content: space-between;
    padding-inline: 0.5rem 0;
  }
  .hideOnMobile {
    display: none;
  }
  .showOnMobile {
    display: contents;
  }
  .hideOnMobileBlock {
    display: none;
  }
}
