.root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.resultButton {
  justify-content: flex-start;
  text-align: left;
}
