body {
  margin: 0;
  font-family: var(--ds-font-family), sans-serif;
  font-feature-settings: "cv05" 1; /* Enable lowercase l with tail */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ds-card,
.ds-card__block {
  min-width: 0;
}

ds-tabs,
ds-tabpanel,
u-tabs,
u-tabpanel {
  display: block;
  min-width: 0;
}
