.page {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 0.4rem;
}

.title { grid-column: 1 / -1; }

.left {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.panels {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}