.page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "title    title    title    title    title    title"
    "head     head     head     head     panels   panels"
    "testform testform testform testform testform testform";
  gap: 0.4rem;
}

.title    { grid-area: title; }
.head     { grid-area: head; }
.panels   { grid-area: panels; display: flex; flex-direction: column; gap: 1rem; }
.testform { grid-area: testform; }