.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cardItem {
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.cardBlock {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.nameInput {
  flex: 1;
  min-width: 0;
}

.nameStatic {
  cursor: text;
  user-select: none;
}

.builtYearForm {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.builtYearInput {
  flex: 1;
  min-width: 0;
}

.roomList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.roomRow {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.roomName {
  flex: 1;
  min-width: 0;
}

.closeButton {
  margin-top: auto;
  align-self: stretch;
}

.addButton {
  flex: 1;
  min-height: 4rem;
  align-self: stretch;
}
