.page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "groups  groups  groups  groups  groups  groups"
    "invites invites invites invites invites invites"
    "users   users   users   users   users   users"
;
    gap: 0.4rem;
}

.groups  { grid-area: groups; }
.invites { grid-area: invites; }
.users   { grid-area: users; }
