.page {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
    "groups groups groups groups groups groups"
    "users  users  users  users  users  users"
;
    gap: 0.4rem;
}

.groups { grid-area: groups; }
.users  { grid-area: users; }
